 .this-my-x{
    display: flex;
    justify-content: end;
 }
 .btn-x{
    background-color: white;
 }
 .review-input-card{
    position: fixed;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    top:0;
    left:0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.7);
  }
  .form-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 600px;
    height: 700px
  }
  .hidden {
    display: none;
  }
  

.empty-star {
    fill: lightblue;
    border-color: black;
}

.star-backdrop {
    display: flex;
}