.nav-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    align-items: end;
    border-bottom: 5px solid orange;
    width: 100%;
}
.right-side-nav{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.splash-nav-links{
    display: flex;
    flex-direction:row;
    justify-content: spa;
    width: 40px;
    height: 40px;
    padding: 10px ;
    margin-right: 7rem;
    
}
.create-spot-link{
    width: 7rem;
    border-style: groove;
    text-align: center;
    

    
}